@charset "UTF-8";
body,
html {
   padding: 0;
   margin: 0;
}

.navbar {
   background-color: #000;
   height: 80px;
}

.navbar-fixed {
   background-color: #000;
}

.logo {
   width: 15%;
   padding: 30px;
}

.logo :hover {
   fill: rgba(255, 255, 255, .5);
}

.wrapper {
 background-image: url(../img/minpro_bg.jpg);
 background-size: contain;
 background-repeat: repeat-y;
 max-width: 900px;
 margin: 0 auto;
 padding-bottom: 30px;
}

img {
   max-width: 100%;
   display: block;
}

.twi-btn {
   position: absolute;
   bottom: 35%;
   max-width: 92%;
   left: 0;
   right: 0;
   margin: auto;
}

.fv {
   position: relative;
   top: 0px;
}

.fv .btn {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 12%;
}

.image2 {
   margin-top: 0px;
}

.image4 {
   position: relative;
}

.image4 .btn {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 48%;
} 

.twi-image-adjust {
   margin: 4% auto;
   width: 90%;
 }

.image5 {
   position: relative;
}

.image5 .btn {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 6.1%;
}

.twi-btn2 {
   margin: 2% auto;
   width: 90%;
}

.document {
   position: relative;
   padding: 8%;
   background-color: #e3e2e2;
   margin-top: 70px;
   margin-bottom: 100px;
   left: 0;
   right: 0;
   top: 0;
   font-family: ryo-gothic-plusn, sans-serif;
   color: #000;
}

.document h3 {
   line-height: 1.5;
   font-size: 27px;
   text-align: center;
   margin-bottom: 50px;
}

.document p {
   line-height: 1.9;
   font-size: 24px;
   margin-bottom: 26px;
   letter-spacing: 0.15rem;
   font-weight: 500;
}

.document .content {
    max-height: 310px;
    margin: auto;
    overflow-y:  auto;
}

/* モバイル版  */
@media screen and (max-width:500px) {
   .document .content {
      max-height: 190px;
   }
}

@media screen and (max-width:500px) {
   .document h3 {
      font-size:  4.3vw;
   }

  .document p {
      font-size:  3.6vw;
   }

   .document .content {
      max-height:  168px;
   }
}

footer {
   background-color: #000;
   width: 100%;
   height: 100px;
   text-align: center;
   padding: 50px 0;
   left: 0;
   bottom: 0;
   font-size: 0.75rem;
}

footer p {
   color: #fff;
}